---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}
      <br>
  <br>

    <div class="hero--small">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ page.title }}</h1>
        Translucent Green Plastic Beiträge is an online journal of literature and criticism. We're mostly publishing our friends' work right now, but if you want to contribute or get in touch, you can reach us at translucentgreenplasticpress [at] gmail.com
      </div>
    </div>
    <br>
    <br>

    <main class="site__content">

      <div class="container">
        <div class="page-content">

            {% for post in site.posts %}
              {% include card.html %}
            {% endfor %}

        </div>
      </div>

    </main>

    {% include footer.html %}

  </body>

</html>
